*, html{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #d5d4d5;
	background: url('../images/fondo_inicio.jpg') no-repeat;
	background-size: cover;
	background-position: top center;
}
input[type="text"]{
		border: 0px solid;
		height: 20px;
		width: 80%;
		font-family: Arial;
		font-size: 20px;
		color: #b65fc0;
		position: absolute;
}
input:focus{
	outline: none;
}
input[type="password"]{
		border: 0px;
		height: 20px;
		width: 80%;
		font-family: Arial;
		font-size: 20px;
		color: #b65fc0;
		position: absolute;
}

.centrado_index{
	width: 500px;
	height: 500px;
	margin: auto;
	position: relative;
	background: rgba(238,235,235,0.7);
	padding: 0;
	overflow: hidden;
	top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
	border-radius: 25px;	
}
	.tit_login{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100px;
		background-color: #b65fc0;
		text-align: center;
		line-height: 100px;
		font-family: Arial;
		color: #FFF;
		font-weight: bold;
		letter-spacing: 3px;
	}
	.user_log{
		position: relative;
		top: 150px;
		width: 90%;
		margin: auto;
		border: 1px solid #a6a8ab;
		height: 40px;
		background-color: #FFF;
		border-radius: 10px;
		padding: 10px;
		font-size: 20px;
		color: #87d87d;
	}
	.user_pass{
		position: relative;
		top: 200px;
		width: 90%;
		margin: auto;
		border: 1px solid #a6a8ab;
		height: 40px;
		background-color: #FFF;
		border-radius: 10px;
		padding: 10px;
		font-size: 20px;
		color: #87d87d;
	}
	.boton_ingresar{
		position: relative;
		top: 250px;
		width: 90%;
		margin: auto;
		text-align: center;
	}
	.boton {
		padding:15 30 15 30px;
		border:0 none;
		background-color: #ba64c5;
		border-style: solid;
		border-width: 0;
		font-family: Arial;
		font-size: 10pt;
		color: #FFFFFF;
		font-weight: normal;
		border-radius: 3px;
		box-shadow:         10px 8px 3px 0px #a9a9a9;
	}
	.boton:hover{
		background-color: #7dd173;
	}
	.power{
		position: fixed;
		bottom: 10px;
		left: 50%;
		margin-left: -50px;
		width: 100px;
		background: rgba(238,235,235,0.7);
	}
	
@media screen and (max-width: 400px){
	.centrado_index{width: 80%; height: 80%;}
}